{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Dimsum</h1>
  <p>Dimsum is delicious!</p>
  <h2>Dimsum loop</h2>
  <div class="row">
    {% for dimsum in dimsum.dimsums %}
      <div class="col">
        <img src="img/{{ dimsum.slug }}.jpg" alt="" class="img-fluid">
        <h3><a href="dimsums/{{ dimsum.slug }}.html">{{ dimsum.title }}</a></h3>
      </div>
    {% endfor %}
</div>
{% endblock %}