// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";

h3 {
  font-size: 1.5rem;
}

body{
  background-color:rgb(255, 255, 203);
}

.img-fluid{
  width: auto;
  height: 80%;
  margin-left: 40
}

h1{
  color:rgb(67, 71, 72);
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;

  padding: 15px;

  border-style:dashed;
  border-color: rgb(33, 32, 32);
  border-width: 3px;
}

h2{
  color:rgb(67, 71, 72);
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
}